input {
    file {
        type => "mysql-slow"
        path => "/var/log/mysql/mysql-slow.log"

        codec => multiline {
            pattern => "^# User@Host:"
            negate => true
            what => previous
        }
    }
}

filter {
    grok {
        match => [ "message", "^# User@Host: %{USER:user}(?:[[^]]+])?s+@s+%{HOST:host}?s+[%{IP:ip}?]" ]
    }
    grok {
        match => [ "message", "^# Query_time: %{NUMBER:duration:float}s+Lock_time: %{NUMBER:lock_wait:float} Rows_sent: %{NUMBER:results:int} s*Rows_examined: %{NUMBER:scanned:int}"]
    }
    grok {
        match => [ "message", "^SET timestamp=%{NUMBER:timestamp};" ]
    }
    date {
        match => [ "timestamp", "UNIX" ]
    }
    mutate {
        remove_field => "timestamp"
    }
}

output {
    elasticsearch {
		hosts => "elasticsearch:9200"
    }
}